body{
    font-family: sans-serif;
    background-color: black;
}

#container {
    height: 1000px;
    width: 550px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(backimg.jpg);
    margin: 20px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: rgb(226, 195, 147);
    margin: 0 auto;
    top: 80px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);

}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 25px;
}
#keyboard{
    height: 400px;
}

.operator,.number,.empty{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,.empty{
    background-color: rgb(226, 195, 147);

}
.number,.operator{
    cursor: pointer;
}

.operator:active,.number:active{

    font-size: 10px;

}

button:nth-child(4){
    font-size: 20px;
    background-color: rgb(24, 155, 207);
}

button:nth-child(8){
    font-size: 20px;
    background-color: rgb(226, 72, 98);
}

button:nth-child(12){
    font-size: 30px;
    background-color: rgb(158, 83, 148);
}
button:nth-child(16){
    font-size: 20px;
    background-color: rgb(66, 179, 71);
}
button:nth-child(20){
    font-size: 20px;
    background-color: rgb(226, 137, 53);
}
